header {
    background-image: url("images/football-website-banner.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    padding: 10px 20px;
    height: 300px;

}
nav ul {
    display: flex;
    justify-content: center;
    list-style:none;
    padding: 10px 0;

  }

  nav ul li {
    margin: 0 15px;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;

  }

  .banner {
    margin-top: 20px;

    text-align: left;
    padding: 50px;
    color: black;
    font-size: 24px;
}
img {
    float: right;
    margin-left: 20px;
}
