header {
    background-image: url("images/football-website-banner.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    padding: 10px 20px;
    height: 300px;

}
nav ul {
    display: flex;
    justify-content: center;
    list-style:none;
    padding: 10px 0;

  }

  nav ul li {
    margin: 0 15px;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;

  }

  .banner {
    margin-top: 20px;

    text-align: left;
    padding: 50px;
    color: black;
    font-size: 24px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto; /* Keskitä sisältö pystysuunnassa */
       gap: 20px;
       grid-template-columns:
        "text-image"
        "text-image"
        "text-image";
}
news-item {
    display: flex;/* Kuva 150px, teksti vie loput tilasta */
    align-items: center; /* Keskittää sisällön pystysuunnassa */
    justify-content: space-between/* Lisää tilaa kuvan ja tekstin väliin */
    margin-bottom: 20px; /* Lisää väliä uutisten väliin */
}

.image img {
    max-width: 150%;
    height: auto;
}

.text {
    flex: 1;
    padding-right: 20px;
}
@media (max-width: 600px) {
    body {
    background-position: center;
    }
html, body{
    overflow-x: hidden;
}